.header {
    background-color: #444444;
    height: 150px;
    width: 100%
}

.footer {
    background-color: #222222;
    height: 100px;
    width: 75%;
    margin: 0 auto;
}

body {
    background-color: #d8d8d8;
    height: 75%;
}

.middle-box {
    background-color: #efefef;
    height: 100%;
    width: 75%;
    margin: 0 auto;
}

main {
    height: 700px;
}

